name: SnykContainer
on:
 push:
   branches: [ master ]
 pull_request:
   branches: [ master ]


jobs:
  snyk:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run Snyk to check Docker image for vulnerabilities
      run: |
        curl https://static.snyk.io/cli/latest/snyk-linux -o snyk
        chmod +x ./snyk
        mv ./snyk /usr/local/bin/
        snyk auth ${{ secrets.SNYK_TOKEN }}
        snyk container test qiell/juiceshop --sarif > snyk.sarif || true
        cp snyk.sarif /tmp
       
    - name: save results file
      uses: actions/upload-artifact@v3
      with:
        name: snyk.sarif
        path: /tmp/snyk.sarif

          
  import:
    name: Conviso Findings Importation
    needs: snyk
    runs-on: ubuntu-20.04
    container:
      image: convisoappsec/flowcli:1.12.0-rc.2
      env:
       FLOW_API_KEY:  ${{secrets.CONVISO_API_KEY}}
       FLOW_PROJECT_CODE: ${{secrets.PROJECT_KEY}}
       FLOW_API_URL: ${{secrets.HOMOLOGA_URL}}
       
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Download result from previous scan
        uses: actions/download-artifact@v3
        with:
          name: snyk.sarif
          path: /tmp
   
      - name: SARIF Importation
        run: |
          cd /tmp
          conviso findings import-sarif --input-file snyk.sarif
